<%- include('../includes/head') %>
</head>
<body>
    <h1><%= message %></h1>
    <% if(show) { %>
        <h3>True</h3>
    <% }else{ %>
        <h3>False</h3>
    <% } %>
    <p>
        <ul>
            <% for(let user of users){ %>
                <li><%= user.name %></li>
            <% } %>
        </ul>
    </p>
<%- include('../includes/end') %>